/*****Header*****/
header {
  height: 110px;
  background-color: #026402;
}

#logo {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: #026402;
  border-width: 10px;
  position: absolute;
  top: 0px;
  left: 20px;
}

header h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  Position: relative;
  top: 15px;
}

#links {
  position: absolute;
  right: 100px;
  top: 40px;
}

#links i {
  color: #B1D0B1;
  font-size: 25px;
  padding-right: 20px;
}

#links i:visited {
  color: #B1D0B1; 
}

#links i:hover {
  color: white;
}

#pages {
  text-align: center;
  position: relative;
  top: 32px;
}

#pages li {
  display: inline;
  padding-right: 30px;
  color: #B1D0B1;
  font-size: 20px;
  font-family: 'Merriweather Sans', sans-serif;
}

#pages li:visited {
  color: #B1D0B1;
}

#pages li:hover {
  color: white;
}
/**********/

/*****Footer*****/
footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: #026402;
  height: 40px;
}

footer p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  position: relative;
  top: 12px;
}
/**********/

