/*****Header*****/
header {
  height: 110px;
  background-color: #026402;
  border-bottom-style: solid;
  border-bottom-color: #124412;
  border-bottom-width: 5px;
}

#logo {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: #026402;
  border-width: 10px;
  position: absolute;
  top: 6px;
  left: 20px;
  border-style: solid;
  outline: #124412 solid 5px;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  Position: relative;
  top: 15px;
}

header a {
  text-decoration: none;
}

#links {
  position: absolute;
  right: 100px;
  top: 40px;
}

#links i {
  color: #B1D0B1;
  font-size: 25px;
  padding-right: 20px;
}

#links i:visited {
  color: #B1D0B1; 
}

#links i:hover {
  color: white;
}

#pages {
  width:305px;
  text-align: center;
  position: relative;
  top: 32px;
  margin: auto;
}


#pages ul li {
  display: inline;
  margin: 0px 15px 0px 15px;
  color: #B1D0B1;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

#pages li:visited {
  color: #B1D0B1;
}

#pages li:hover {
  color: white;
}

#pages a {
  text-decoration: none;
}
/**********/

/*****Homepage*****/
#area-serving {
  position: relative;
  top: 50px;
  margin: auto;
  width: 1090px;
  text-align: center;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

#contact-info {
  width: 150px;
  position: relative;
  top: 140px;
  left: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

#contact-info strong {
  font-weight: bold;
}

.container {
  width: 450px;
  margin: auto;
  position: relative;
  top: 20px;
  text-align: right;
  }

.container #kenneth {
  width: 300px;
  height: 300px;
  float: right;
  padding-left: 10px;
  padding-bottom: 4px;
}

.container p {
  font-family: 'Montserrat', sans-serif;;
}

/*****Footer*****/
footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: #026402;
  height: 40px;
  border-top-style: solid;
  border-top-color: #124412;
  border-top-width: 5px; 
}

footer p {
  font-family: 'Montserrat', sans-serif;
  color: #B1D0B1;
  text-align: center;
  position: relative;
  top: 12px;
}
/**********/

